In [2]:
import pandas as pd

df = pd.read_csv(r'C:\Users\umut3\Desktop\KuralTabanlSnflandrma-230620-161541\persona.csv')
print(df.head())

   PRICE   SOURCE   SEX COUNTRY  AGE
0     39  android  male     bra   17
1     39  android  male     bra   17
2     49  android  male     bra   17
3     29  android  male     tur   17
4     49  android  male     tur   17

In [3]:
# Question 1: persona.have the csv file read and show general information about the data set
def check_info(dataFrame, head=5):
    print("################# SHAPE ################")
    print(dataFrame.shape)

    print("################# TYPES ################")
    print(dataFrame.dtypes)

    print("################# HEAD ################")
    print(dataFrame.head(head))

    print("################# TAIL ################")
    print(dataFrame.tail(head))

    print("################# NA ################")
    print(dataFrame.isnull().sum())

    print("################# QUANTILES ################")
    print(dataFrame.describe([0, 0.05, 0.50, 0.95, 0.99, 1]).T)

check_info(df)

################# SHAPE ################
(5000, 5)
################# TYPES ################
PRICE       int64
SOURCE     object
SEX        object
COUNTRY    object
AGE         int64
dtype: object
################# HEAD ################
   PRICE   SOURCE   SEX COUNTRY  AGE
0     39  android  male     bra   17
1     39  android  male     bra   17
2     49  android  male     bra   17
3     29  android  male     tur   17
4     49  android  male     tur   17
################# TAIL ################
      PRICE   SOURCE     SEX COUNTRY  AGE
4995     29  android  female     bra   31
4996     29  android  female     bra   31
4997     29  android  female     bra   31
4998     39  android  female     bra   31
4999     29  android  female     bra   31
################# NA ################
PRICE      0
SOURCE     0
SEX        0
COUNTRY    0
AGE        0
dtype: int64
################# QUANTILES ################
        count     mean        std   min    0%    5%   50%   95%   99%  100%  \
PRICE  5000.0  34.1320  12.464897   9.0   9.0  19.0  39.0  49.0  59.0  59.0
AGE    5000.0  23.5814   8.995908  15.0  15.0  15.0  21.0  43.0  53.0  66.0

        max
PRICE  59.0
AGE    66.0

In [4]:
# Question 2: How many unique SOURCE are there? What are their frequencies?
print(df['SOURCE'].nunique())

2

In [5]:
# Question 3: How many unique PRICEs are there?
print(df['PRICE'].nunique())

6

In [6]:
# Question 4: How many sales were made from which PRICE?
print(df['PRICE'].value_counts())

29    1305
39    1260
49    1031
19     992
59     212
9      200
Name: PRICE, dtype: int64

In [7]:
# Question 5: How many sales were made from which country?
print(df['COUNTRY'].value_counts())

usa    2065
bra    1496
deu     455
tur     451
fra     303
can     230
Name: COUNTRY, dtype: int64

In [8]:
# Question 6: How much was earned in total from sales by country?
print(df.groupby(['COUNTRY']).agg({'PRICE': 'sum'}))

         PRICE
COUNTRY
bra      51354
can       7730
deu      15485
fra      10177
tur      15689
usa      70225

In [9]:
# Question 7: What are the sales numbers by SOURCE types?
print(df.groupby('SOURCE')['PRICE'].count())# Question 7: What are the sales numbers by SOURCE types?
print(df.groupby('SOURCE')['PRICE'].count())

SOURCE
android    2974
ios        2026
Name: PRICE, dtype: int64
SOURCE
android    2974
ios        2026
Name: PRICE, dtype: int64

In [10]:
# Question 8: What are the PRICE averages by country?
print(df.groupby('COUNTRY').agg({'PRICE': 'mean'}))

             PRICE
COUNTRY
bra      34.327540
can      33.608696
deu      34.032967
fra      33.587459
tur      34.787140
usa      34.007264

In [11]:
# Question 9: What are the PRICE averages according to SOURCEs?
print(df.groupby('SOURCE').agg({'PRICE': 'mean'}))

             PRICE
SOURCE
android  34.174849
ios      34.069102

In [12]:
# Question 10: What are the PRICE averages in the COUNTRY-SOURCE breakdown?
print(df.groupby(['COUNTRY', 'SOURCE']).agg({'PRICE': 'mean'}))

                     PRICE
COUNTRY SOURCE
bra     android  34.387029
        ios      34.222222
can     android  33.330709
        ios      33.951456
deu     android  33.869888
        ios      34.268817
fra     android  34.312500
        ios      32.776224
tur     android  36.229437
        ios      33.272727
usa     android  33.760357
        ios      34.371703

In [13]:
# TASK-2
df.groupby(['COUNTRY', 'SOURCE', 'SEX', 'AGE']).agg({'PRICE': 'mean'})
print(df.groupby(['COUNTRY', 'SOURCE', 'SEX', 'AGE']).agg({'PRICE': 'mean'}))

                                PRICE
COUNTRY SOURCE  SEX    AGE
bra     android female 15   38.714286
                       16   35.944444
                       17   35.666667
                       18   32.255814
                       19   35.206897
...                               ...
usa     ios     male   42   30.250000
                       50   39.000000
                       53   34.000000
                       55   29.000000
                       59   46.500000

[348 rows x 1 columns]

In [14]:
# TASK-3
agg_df = df.groupby(['COUNTRY', 'SOURCE', 'SEX', 'AGE']).agg({'PRICE': 'mean'}).sort_values('PRICE', ascending=False)
print(agg_df.head())

                            PRICE
COUNTRY SOURCE  SEX    AGE
bra     android male   46    59.0
usa     android male   36    59.0
fra     android female 24    59.0
usa     ios     male   32    54.0
deu     android female 36    49.0

In [15]:
# TASK-4
agg_df = agg_df.reset_index()
print(agg_df.head())

  COUNTRY   SOURCE     SEX  AGE  PRICE
0     bra  android    male   46   59.0
1     usa  android    male   36   59.0
2     fra  android  female   24   59.0
3     usa      ios    male   32   54.0
4     deu  android  female   36   49.0

In [16]:
# TASK-5
agg_df['AGE_CAT'] = pd.cut(x=agg_df['AGE'], bins=[0, 18, 23, 30, 40, 70], labels=['0_18', '19_23', '24_30', '31_40', '41_70'])
print(agg_df.head())

  COUNTRY   SOURCE     SEX  AGE  PRICE AGE_CAT
0     bra  android    male   46   59.0   41_70
1     usa  android    male   36   59.0   31_40
2     fra  android  female   24   59.0   24_30
3     usa      ios    male   32   54.0   31_40
4     deu  android  female   36   49.0   31_40

In [17]:
# TASK-6
cols = [col for col in agg_df.columns if str(agg_df[col].dtypes) in ['category', 'object', 'bool']]
customers_level_based = agg_df[cols].apply(lambda x: '_'.join(x).upper(), axis=1)
cus_df = pd.DataFrame(customers_level_based, columns=['customers_level_based'])
cus_df = cus_df.join(agg_df['PRICE'])
agg_df = agg_df.join(cus_df["customers_level_based"])
print(agg_df)
cusagg_df = cus_df.groupby('customers_level_based').agg({'PRICE': 'mean'})
print(cusagg_df.sort_values('PRICE', ascending=False))

    COUNTRY   SOURCE     SEX  AGE  PRICE AGE_CAT     customers_level_based
0       bra  android    male   46   59.0   41_70    BRA_ANDROID_MALE_41_70
1       usa  android    male   36   59.0   31_40    USA_ANDROID_MALE_31_40
2       fra  android  female   24   59.0   24_30  FRA_ANDROID_FEMALE_24_30
3       usa      ios    male   32   54.0   31_40        USA_IOS_MALE_31_40
4       deu  android  female   36   49.0   31_40  DEU_ANDROID_FEMALE_31_40
..      ...      ...     ...  ...    ...     ...                       ...
343     usa      ios  female   38   19.0   31_40      USA_IOS_FEMALE_31_40
344     usa      ios  female   30   19.0   24_30      USA_IOS_FEMALE_24_30
345     can  android  female   27   19.0   24_30  CAN_ANDROID_FEMALE_24_30
346     fra  android    male   18   19.0    0_18     FRA_ANDROID_MALE_0_18
347     deu  android    male   26    9.0   24_30    DEU_ANDROID_MALE_24_30

[348 rows x 7 columns]
                              PRICE
customers_level_based
FRA_ANDROID_FEMALE_24_30  45.428571
TUR_IOS_MALE_24_30        45.000000
TUR_IOS_MALE_31_40        42.333333
TUR_ANDROID_FEMALE_31_40  41.833333
CAN_ANDROID_MALE_19_23    40.111111
...                             ...
TUR_IOS_MALE_41_70        25.052632
TUR_IOS_MALE_19_23        24.833333
FRA_ANDROID_MALE_0_18     24.625000
CAN_ANDROID_FEMALE_24_30  19.000000
DEU_ANDROID_MALE_24_30    19.000000

[109 rows x 1 columns]

In [18]:
# TASK-7
agg_df['SEGMENT'] = pd.qcut(agg_df['PRICE'], 4, labels=['D', 'C', 'B', 'A'])
print(agg_df.groupby(['SEGMENT'])['PRICE'].agg(['mean', 'max', 'sum']))

              mean        max          sum
SEGMENT
D        27.302596  31.105263  2375.325850
C        32.933339  34.000000  3128.667165
B        35.436170  37.000000  2870.329792
A        41.434736  59.000000  3521.952577

In [19]:
# TASK-8
new_user = "TUR_ANDROID_FEMALE_31_40"
print(agg_df[agg_df["customers_level_based"] == new_user].agg({"SEGMENT": "unique",
                                                         "PRICE": "mean"}))
fra_user = "FRA_ANDROID_FEMALE_31_40"
print( agg_df[agg_df["customers_level_based"] == fra_user][["PRICE", "SEGMENT"]])

SEGMENT    ['A']
Categories (4, object): ['D' < 'C' < 'B'...
PRICE                                              41.833333
dtype: object
     PRICE SEGMENT
185   34.0       C